# Ignore compiled .class files
out/*

# Gradle stuff
.gradle/*
build/*

# Ignore IntelliJ project settings
.idea/*
aMap2016.iml

# Ignore third party libraries
third_party_lib/*

map-anholt-mini*.osm
